<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="It's high time we made some difference. BlogZoe is a place to understand the fullness of God's word to it's simplicity and much more, we got everyone of you covered bringing to you latest info on sport, latest news, e.t.c.">
    <meta name="keywords" content="zoeblog, blog, news, sport, gospel, learning">
    <meta name="author" content="zoeblog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block header %}
      {% endblock header %}
    </title>
    {% load static %}

    <link rel="icon" href="{% static '/img/zoe-blog2b.jpg' %}" type="image/png"  sizes="16x16"/>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.min.css' %}" />

    <!-- jquery js-->
    <script src="{% static '/js/jquery-2.1.1.min.js' %}"></script>


    <!-- custom css--->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body>
    {% block body %}

    <!-- header start -->
    <div style="margin-bottom: 80px;">
    {% include 'snippets/header_snippets.html' %}
    </div>
    <!-- header end -->


    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}



    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
