{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div style="background-image: url( {% static 'img/bg.jpg' %}); background-size: cover;">

  <div class="d-flex align-items-center mt-5">
    <div style="background: rgba(32, 32, 32, 0.6)" class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="login">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 ">
          <div class="d-flex justify-content-center">
            <img class="col-4" width="100" src="{% static 'img/zoe-blog2b.png' %}" alt="zoe-blog2b">
          </div>
          <div class="justify-content-center pb-4">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 class=" text-center fw-bold mb-0 ">Login</h2>
          </div>

          <div class="modal-body p-5 pt-0">
            <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}

            <p class="form-text error-text text-danger">
              {{ form.non_field_errors.as_text }}
            </p>

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

               <p class="text-danger">
                    {{ form.login.errors.as_text }}
                </p>
              <div class="form-floating mb-3">
                <input name="login" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" autocomplete="email" required>
                <label class="d-flex" for="floatingInput">Email <span class="d-none d-md-flex mx-1"> address</span></label>
              </div>

               <p class="text-danger">
                    {{ form.password.errors.as_text }}
                </p>
              <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" autocomplete="current-password" required>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-group mb-2">
                <label for="id_remember">Remember Me:</label>
                <input type="checkbox" name="remember" class="checkbox" id="id_remember">
              </div>   
              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
              <small class="d-flex flex-column "><a class="m-auto" href="{% url 'account_reset_password'%}">Forget password?</a></small>
              <hr class="my-4">
            {% load socialaccount  %}
            {% providers_media_js  %}
            {% load i18n %}
            <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
            <a class="w-100 py-2 mb-2 btn btn-danger rounded-3 d-flex justify-content-center" href= "{% provider_login_url "google" method="js_sdk" process="login" %}" >
              <span class="mx-1 bg-light rounded-5 text-dark"><i class="fa fa-google-plus m-1"></i></span>Login with Google              
            </a>
              <a class="w-100 py-2 mb-2 btn btn-primary rounded-3" href= "{% provider_login_url "facebook" method="oauth2" process="login" %}">
              <span class="mx-1 bg-light rounded-5 text-primary"><i class="fa fa-facebook m-2"></i></span>Login with Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
