{% load static %}

<div id="btn-screen-mode" class="d-flex justify-content-between darkMode2 align-items-center">
  <div class="darkMode-wrap d-flex justify-content-center p-2">
    <button class="btn">
      <i class="fa "></i> 
    </button>
  </div>
  <span id="s-mode" class=" fs-6 mx-3"></span>
</div>

<!-- Back to top button -->
<button
        type="button"
        class="btn btn-info btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fa fa-arrow-up"></i>
</button>


<section class="bg-dark text-light shadow">
  <div class="">
    <footer class="footer py-5">
      <div class="container-fluid d-lg-flex d-block justify-content-center">
        <div class="col-lg">
          <div class="container mb-5">
            <div class="fw-bold fs-3">OUR SERVICE</div>
            <div>
              <ul class="mx-2">
                <li>Graphics</li>
                <li>Web Development</li>
                <li>Web Design</li>
                <li>Python Tutorial</li>
                <li>Advertisement</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg text-center">
          <div class="container mt-5">
            <h3>ABOUT US</h3>
            <p>It's high time we made some difference. BlogZoe is a place to understand the fullness of God's word to it's simplicity and much more,
                we got everyone of you covered bringing to you latest info on sport, latest news, e.t.c.
            </p>
          </div>
          <div class="d-flex justify-content-center text-light fs-5">CONTACT: <a href="mailto:blogzoe18@gmail.com" class="mx-1">egbodonathaniel@gmail.com</a></div>
        </div>
      </div>
      <hr>
      <div class="container-fluid d-md-flex row-md justify-content-between align-items-center">

          <div class="container text-center m-sm-4 m-auto order-last">
            <a href="{% static 'img/zoe-blog2b.png'%}" class="p-2 pb-3 mb-3 me-2 mb-md-0 text-muted bg-light text-decoration-none lh-1">
              <img class="bi" width="100" src="{% static 'img/zoe-blog2b.png'%}">
            </a>
            <span style="font-size:18px;" class="mb-3 mb-md-0 text-light">&copy; 2022 ZOE BLOG</span>
          </div>

          <div class="container d-flex justify-content-lg-start justify-content-center">
              <div class="footer_2_inner_3 ">
               <h3>FOLLOW US</h3>
                <ul class="social-network social-circle">
                
                  <li><a href="https://web.facebook.com/blogzoe/" class="icoFacebook shadow" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter shadow" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://instagram.com/blogzoe18?igshid=YmMyMTA2M2Y=" class="icoInstagram shadow" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://wa.link/f2m8tp" class="icoWhatapp shadow" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                  <li><a href="mailto:egbodonathaniel@gmail.com" class="icoGoogle shadow" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://github.com/Nathius262/" class="icogithub shadow" title="Github"><i class="fa fa-github"></i></a></li>
                  
                </ul>
              </div>
          </div>
      </div>
    </footer>
  </div>
</section>
