<div class="center_4_right_2 clearfix">
  <div class="col-sm-12 space_all offer_apace">
    <div class="offer offer-info">
      <div class="shape">
        <div class="shape-text">
          SHOW                            
        </div>
      </div>
      <div class="offer-content">
        <h3 class="lead">
          OUR QUALITIES
        </h3>                       
      </div>
    </div>
  </div>
</div>

<div class="center_4_right_3 clearfix d-flex">
  <div class="col-sm-2 space_right">
    <div class="center_4_right_3_left">
     <h6 class="text-center">01</h6>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="center_4_right_3_right">
      <h5>Full Stack Web Developer </h5>
      <p>We design and build websites from scratch to your best and most fiting taste.</p>
    </div>
  </div>
</div>

<div class="center_4_right_3 clearfix d-flex">
  <div class="col-sm-2 space_right">
    <div class="center_4_right_3_left">
     <h6 class="text-center">02</h6>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="center_4_right_3_right">
      <h5>Django Projects </h5>
      <p>We build astonishing django projects that best suit your need.</p>
    </div>
  </div>
</div>

<div class="center_4_right_3 clearfix d-flex">
  <div class="col-sm-2 space_right">
    <div class="center_4_right_3_left">
     <h6 class="text-center">03</h6>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="center_4_right_3_right">
      <h5>Experienced Python Programmer </h5>
      <p>We are efficient and effective when we talk about building projects with python language.</p>
    </div>
  </div>
</div>

<div class="center_4_right_3 clearfix d-flex">
  <div class="col-sm-2 space_right">
    <div class="center_4_right_3_left">
     <h6 class="text-center">04</h6>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="center_4_right_3_right">
      <h5>Graphic Design </h5>
      <p>Talking about world class designs that will blow your mind we've got you.</p>
    </div>
  </div>
</div>