{% load static %}
<div class="middle_right_1 clearfix">
  <h3>WORTH SEE</h3>

  <div class="middle_right_1_inner clearfix">
    <div class="col-sm-4 space_all">
      <div class="middle_right_1_inner_left card-image">
        <a href="#"><img src="{% static 'img/18.jpg' %}" width="100%"></a>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="middle_right_1_inner_right">
        <p><a href="#">Lorem - Ipsum Dolor</a></p>
        <h5>March 7, 2016</h5>
      </div>
    </div>
  </div>
</div>