{% extends 'index.html'%}
{% load static %}
{% block content %}

<section style="background:#111;" class="album text-light">
	<div class="container mt-5 h-100">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 mb-5">
				<h1 class="fw-bold m-4 text-center">Update Post</h1>
				<hr class="">
				<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

					<p class="form-text error-text text-danger">
		              {{ form.non_field_errors.as_text }}
		            </p>

					<!-----title---->
					<div class="form-group mb-3">
						<p class="text-center text-danger">{{form.title.errors.as_text}}</p>
						{{form.title}}
					</div>

					<!-----category---->
					<h3>{{form.category.label}}</h3>
					<p class="text-center text-danger">{{form.category.errors.as_text}}</p>
					{% load mptt_tags %}
					<div class="form-control">
						<div class="flex-shrink-0 p-3" style="width: 280px; color: rgb(39, 39, 39);">
							<ul class="list-unstyled ps-0">
								{% recursetree category %}
								<li class="mb-1">
									<div class="fs-5 d-flex align-items-center justify-content-between rounded border-0 dropdownBtn" data-bs-toggle="collapse" data-bs-target="#{{node.category_name}}" aria-expanded="false">
										<span> {% if node.level == 0 %}  {{node.category_name|title}}{% else %}
											<div class=" m-2">
											<label for="id_category_{{node.id}}">
												<input type="checkbox" name="category" value="{{node.id}}" class="form-check-input container" id="id_category_{{node.id}}" {% if node in form.initial.category %} checked{% endif %}>
												{{node.category_name}}
											</label>
											</div>
											{%endif%}
										</span>
										{% if not node.is_leaf_node %}<i class="fa fa-caret-right ms-5"> </i>{%endif%}
									</div>
									{% if not node.is_leaf_node %}
									<div style=" border-top: 1px dashed rgb(107, 107, 107)" class="collapse" id="{{node.category_name}}">
										<ul class="ms-4 list-unstyled fw-normal pb-1 small">
											<li class="mt-1">
												<div class="fs-5 d-inline-flex align-items-center">
													<div class=" m-2">
														<label for="id_category_{{node.id}}">
															<input type="checkbox" name="category" value="{{node.id}}" class="form-check-input container" id="id_category_{{node.id}}" {% if node in form.initial.category %} checked{% endif %}>
															{{node.category_name}}
														</label>
													</div>
												</div>
											</li>
											{{children}}
										</ul>
									</div>			
									{% endif %}
								</li>
							{% endrecursetree %}
							</ul>
						</div>
					</div>

						<!-----body---->
					<div class="form-group mb-3">
						<h4>Body</h4>
						<p class="text-center text-danger">{{form.body.errors.as_text}}</p>
						{{form.media}}
						{{form.body}}
					</div>

					<!-----image---->
					{% if not form.initial.image %}
					<div class="form-group image-group mb-3">
						<div id="id_image_group" class="blog_main_img">				
							<img style="max-width: 300px;" id="id_image_display" class="blog_img container">
							<div class="blog_overlay blog_overlay_blur"><div class="title_blog_img">Change Image</div></div>
							{{form.image}}
						</div>
					</div>
					{% else %}
					<div class="form-group image-group mb-3 col-lg-7 offset-lg-3">
						<div id="id_image_group" class="blog_main_img">

							<img style="max-width: 300px;" id="id_image_display" class="blog_img container " src="{{form.initial.image}}">
							<div class="blog_overlay blog_overlay_blur"><div class="title_blog_img">Change Image</div></div>
							{{form.image}}
						</div>
					</div>
					{% endif %}

					<button class="w-100 btn mb-2 btn-lg rounded-3 btn-primary mt-3" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	document.getElementById('id_image_group').onclick = function(event){
		document.getElementById('id_image_file').click();
	};

</script>
{% endblock content %}