<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="zN2AjGtKUYqJaIP6szMQ9okdbfDERS2NOo9eQ46CG_o" />


        <title>{% block title %}{% endblock %}</title>
        {% load static %}

        <link rel="icon" href="{% static '/img/zoe-blog2b.jpg' %}" type="image/jpg"  sizes="16x16" />
        <!---CSS LINK---->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1141641850279516" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static '/highlight/highlight.min.js' %}"></script>

        <script>hljs.initHighlightingOnLoad();</script>

        <link rel="stylesheet" href="{% static '/highlight/styles/github-dark.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" media="all">
        <link type="text/css" href="{% static '/css/style.css' %}" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.min.css' %}" />

        <link href="{% static 'css/aos.css' %}" rel="stylesheet" media="all">


        <!-- JQ-CROPPER --->
        <script src="{% static '/js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static '/js/cropper.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/cropper.css' %}">
        <script type="text/javascript" src="{% static '/js/jquery-cropper.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/aos.js' %}"></script>

        <!--JS GLOBAL VARIABLE--->
        <script type="text/javascript">

          // setting screen mode based on users preference
          //localStorage.setItem('screen_mode', 'Dark')

          var user = "{{request.user.username}}"

          var csrf_token = "{{csrf_token}}"

          // URL
          var screen_mode = "{% url 'user:screen_mode' %}"
          var like_post_url  = "{% url 'blog:like' %}"
          var like_count_url = "{% url 'blog:likesCount' %}"
          var comment_post_url = "{% url 'blog:comment' %}"
          var delete_post_url = "{% url 'blog:delete_post' %}"
          var home_url = "{% url 'home' %}"
          var get_followers_url = "{% url 'user:getfollower' %}"
          var follow_url = "{% url 'user:follows' %}"
          var comment_reply_url = "{% url 'blog:comment_reply' %}"
          var login_status_url = "{% url 'user:login_status' %}"
        </script>
    </head>
    <body>

        <!---header---->
        {% include 'snippets/header_snippets.html' %}

        {% block content %}
        {% endblock content %}

        <script>
          $.ajax({
            type:'GET',
            url: "/api/profile/",
            success: function(data){
              console.log("success")
              console.log(data.results)
            },
            error: function(error){
              console.log("failed")
              console.log(error)
            }
          })
        </script>

         <!---footer---->
        <span style="position: fixed; bottom: 20px;  left: 20px;" class=""
        id="internet_status"
        ></span>

        {% include 'snippets/footer_snippets.html' %}

        <!---JS LINK---->
        <script>
          var initialTheme;
          
          AOS.init({
            duration: 1200,
          })

          window.addEventListener("online", () => {
            hasNetwork(true);
            userStatus(true);
          });
          window.addEventListener("offline", () => {
            hasNetwork(false);
            userStatus(false);
          });

          window.addEventListener('load', () => {
            userStatus(navigator.onLine);
            getScreenMode();
            
            //switching button's mode
            $('.darkMode-wrap').click(function(){
              postScreenMode();
            })            
          })
        </script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/customjs.js' %}"></script>

    </body>

</html>