{% extends 'index.html'%}
{% load humanize %}
{% block title %}profile-{{current_user}}{% endblock %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block content %}
{% get_providers as socialaccount_providers %}
<div style="margin-bottom: 300px;" class="container mt-5">
	<div class="row">
		<div class="album py-3 ntx">
			<h2 class="container pb-3">PROFILE</h2>
		    <div class="container ">
		        <div class="row">
		            {% for obj in profile %}
					<div class="d-md-flex d-block">

						<div class="shadow p-2 ntx_dark">
							<div class="container" style="border-radius:50%; background-image: url('{{obj.picture_url}}'); background-color: grey; background-size: cover; width:200px; height:200px;" >
							</div>							
						</div>
						<div class="container m-4 ">
							<div class="d-md-flex d-block justify-content-between">
								<div class="d-block">
									<h3>{{obj.name}}</h3>
									<h4 class="fs-6">@{{obj.username}}</h4>
								</div>
								<div class="d-block">
									<h6>{{obj.email}}</h6>
									{% if current_user.login_status %}
										<p class="">Login status: active</p>
									{% else %}
										<p class="text-secondary">Last login: {{obj.last_login |naturaltime}}</p>
									{% endif %}
								</div>

							</div>
							<div class="d-flex justify-content-between mt-5 mb-0 container">
								<p class="justify-content-center text-secondary">POSTS <span id="postCount" class="container d-block"></span></p>
								<p class="justify-content-center text-secondary">Followers<span id="followerCount" class="container d-block"></span></p>
								<p class="justify-content-center text-secondary">Following<span id="followingCount" class="container d-block "></span></p>
							</div>
							 <div class="d-sm-flex justify-content-between align-items-center text-center">
                                 {%if current_user == logged_in_user %}
                                    <a href="{% url 'user:settings' %}" class="btn btn-secondary m-3 m-md-0 m-lg-0">Edit Profile</a>
                                 {% endif %}

								 <form method="POST" id="follow_formId" class="follow_form m-3 m-md-0 m-lg-0" data-follower="{{logged_in_user}}" data-user="{{current_user}}">
								 	{%csrf_token%}
								 	<button id="follow_btn" class="btn btn-outline-dark ntx" type="submit"></button>
								 </form>

								{% if current_user == logged_in_user %}
								<a href="{% url 'account_email' %}" class="btn btn-secondary m-3 m-md-0 m-lg-0">Change/Add Email</a>
								{% endif %}
                            </div>
							{% if current_user == logged_in_user %}
                            <div style="border-top: 1px dashed #3a3a3a;" class="mt-5 d-lg-flex justify-content-between align-items-center text-center">
                            	<h4 class="mt-5">Link Profile with social account: </h4>
                            	{% load socialaccount  %}
					            {% providers_media_js  %}
					            {% load i18n %}

                            	<span class="d-md-flex mt-5">
									{% if 'facebook' in socialuser and 'google' in socialuser %}
									<i class="fa fa-warning text-warning"><span class="ntx">Your profile is already linked with facebook and google</span></i>
									{% elif "google" in socialuser %}
						            <a class="btn btn-primary rounded-3 m-1" href= "{% provider_login_url "facebook" method="oauth2" process="connect" %}">
						            	<span class="m-1 bg-light rounded-5 text-primary"><i class="fa fa-facebook m-2"></i></span>Facebook
						            </a>
									{% elif "facebook" in socialuser %}
                            		<a class="btn btn-danger rounded-3 mx-1" href= "{% provider_login_url "google" method="js_sdk" process="connect" %}" >
						            	<span class="m-1 bg-light rounded-5 text-dark"><i class="fa fa-google-plus m-1"></i></span>Google              
									</a>									
									{% else %}
										<a class="btn btn-primary rounded-3 m-1" href= "{% provider_login_url "facebook" method="oauth2" process="connect" %}">
											<span class="m-1 bg-light rounded-5 text-primary"><i class="fa fa-facebook m-2"></i></span>Facebook
										</a>

										<a class="btn btn-danger rounded-3 mx-1" href= "{% provider_login_url "google" method="js_sdk" process="connect" %}" >
											<span class="m-1 bg-light rounded-5 text-dark"><i class="fa fa-google-plus m-1"></i></span>Google              
										</a>
									{% endif %}
                            	</span>
                            </div>
							{% endif %}
						</div>
					</div>
		
		            {% endfor %}
		        </div>
				<hr>

				<div class="row">
					<div class="d-flex justify-content-center">
						<h3 class="mt-5">All {{profile.first.username}} Posts</h3>
					</div>

					<div class="row mb-2 mt-5">
						{% for post in post %}
						<div class="col-md-6 container">
						  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
							  <h3 class="mb-0">{{post.title}}</h3>
							  <div class="mb-1 text-secondary">{{post.date_updated|date:"M, d"}}</div>
							  <a href="{{post.get_absolute_url}}" class="stretched-link">Continue reading</a>
							  <p class="container ">{{post.body|truncatewords:5|safe}}</p>
							</div>

							<div class="col-auto d-none d-lg-block">
                            	<div class="" style="background:black; background-image: url('{{post.image_url}}'); background-size: cover; height:250px; width: 200px;"></div>
							</div>
						  </div>
						</div>
						{% endfor %}

					  </div>
				</div>
		    </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	window.addEventListener('load', () => {
		postFollow();
	})
	
</script>

{% endblock content %}